In [11]:
import pandas as pd
import re


df=pd.read_csv("C:/Users/NV/Downloads/heart_disease_uci.csv")
df.head(20)
x=df.iloc[:,:15].drop(columns=["id","sex","dataset"])
y=df.iloc[:,15]

In [12]:
y.replace([1, 2, 3, 4], 1,inplace=True)

In [13]:
y

0      0
1      1
2      1
3      0
4      0
      ..
915    1
916    0
917    1
918    0
919    1
Name: num, Length: 920, dtype: int64

In [14]:
df

,id,age,sex,dataset,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,ca,thal,num
0,1,63,Male,Cleveland,typical angina,145.0,233.0,True,lv hypertrophy,150.0,False,2.3,downsloping,0.0,fixed defect,0
1,2,67,Male,Cleveland,asymptomatic,160.0,286.0,False,lv hypertrophy,108.0,True,1.5,flat,3.0,normal,1
2,3,67,Male,Cleveland,asymptomatic,120.0,229.0,False,lv hypertrophy,129.0,True,2.6,flat,2.0,reversable defect,1
3,4,37,Male,Cleveland,non-anginal,130.0,250.0,False,normal,187.0,False,3.5,downsloping,0.0,normal,0
4,5,41,Female,Cleveland,atypical angina,130.0,204.0,False,lv hypertrophy,172.0,False,1.4,upsloping,0.0,normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
915,916,54,Female,VA Long Beach,asymptomatic,127.0,333.0,True,st-t abnormality,154.0,False,0.0,NaN,NaN,NaN,1
916,917,62,Male,VA Long Beach,typical angina,NaN,139.0,False,st-t abnormality,NaN,NaN,NaN,NaN,NaN,NaN,0
917,918,55,Male,VA Long Beach,asymptomatic,122.0,223.0,True,st-t abnormality,100.0,False,0.0,NaN,NaN,fixed defect,1
918,919,58,Male,VA Long Beach,asymptomatic,NaN,385.0,True,lv hypertrophy,NaN,NaN,NaN,NaN,NaN,NaN,0
919,920,62,Male,VA Long Beach,atypical angina,120.0,254.0,False,lv hypertrophy,93.0,True,0.0,NaN,NaN,NaN,1

In [15]:
df.shape

(920, 16)

In [16]:
df["trestbps"].isna().sum()

59

In [17]:
mean_value = x["trestbps"].mean()
x["trestbps"] = x["trestbps"].fillna(0)

In [18]:
df["trestbps"].isna().sum()

59

In [19]:
df["chol"].isna().sum()

30

In [20]:
mean_value = x["chol"].mean()
x["chol"] = x["chol"].fillna(0)

In [21]:
df["chol"].isna().sum()

30

In [22]:
df["fbs"].isna().sum()

90

In [23]:
df["restecg"].isna().sum()

2

In [24]:
df["thalch"].isna().sum()

55

In [25]:
mean_value = x["thalch"].mean()
x["thalch"] = x["thalch"].fillna(0)

In [26]:
df["thalch"].isna().sum()

55

In [27]:
df["exang"].isna().sum()

55

In [28]:
df["oldpeak"].isna().sum()

62

In [29]:
mean_value = x["oldpeak"].mean()
x["oldpeak"] = x["oldpeak"].fillna(0)

In [30]:
df["slope"].isna().sum()

309

In [31]:
df["ca"].isna().sum()

611

In [32]:
mean_value = x["ca"].mean()
x["ca"] = x["ca"].fillna(0)

In [33]:
df["ca"].unique()

array([ 0.,  3.,  2.,  1., nan])

In [34]:
df["thal"].isna().sum()

486

In [35]:
df["num"].isna().sum()

0

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 920 entries, 0 to 919
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        920 non-null    int64
 1   age       920 non-null    int64
 2   sex       920 non-null    object
 3   dataset   920 non-null    object
 4   cp        920 non-null    object
 5   trestbps  861 non-null    float64
 6   chol      890 non-null    float64
 7   fbs       830 non-null    object
 8   restecg   918 non-null    object
 9   thalch    865 non-null    float64
 10  exang     865 non-null    object
 11  oldpeak   858 non-null    float64
 12  slope     611 non-null    object
 13  ca        309 non-null    float64
 14  thal      434 non-null    object
 15  num       920 non-null    int64
dtypes: float64(5), int64(3), object(8)
memory usage: 115.1+ KB

In [37]:
round((x.isnull().sum() / x.shape[0]) * 100, 2)

age          0.00
cp           0.00
trestbps     0.00
chol         0.00
fbs          9.78
restecg      0.22
thalch       0.00
exang        5.98
oldpeak      0.00
slope       33.59
ca           0.00
thal        52.83
dtype: float64

In [38]:
import numpy as np

def missing(df):
    for col in df.columns:
       df[col].replace(np.nan, "Missing", inplace=True)

In [39]:
missing(x)

C:\Users\NV\AppData\Local\Temp\ipykernel_29952\2797269155.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].replace(np.nan, "Missing", inplace=True)

In [40]:
x

,age,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,ca,thal
0,63,typical angina,145.0,233.0,True,lv hypertrophy,150.0,False,2.3,downsloping,0.0,fixed defect
1,67,asymptomatic,160.0,286.0,False,lv hypertrophy,108.0,True,1.5,flat,3.0,normal
2,67,asymptomatic,120.0,229.0,False,lv hypertrophy,129.0,True,2.6,flat,2.0,reversable defect
3,37,non-anginal,130.0,250.0,False,normal,187.0,False,3.5,downsloping,0.0,normal
4,41,atypical angina,130.0,204.0,False,lv hypertrophy,172.0,False,1.4,upsloping,0.0,normal
...,...,...,...,...,...,...,...,...,...,...,...,...
915,54,asymptomatic,127.0,333.0,True,st-t abnormality,154.0,False,0.0,Missing,0.0,Missing
916,62,typical angina,0.0,139.0,False,st-t abnormality,0.0,Missing,0.0,Missing,0.0,Missing
917,55,asymptomatic,122.0,223.0,True,st-t abnormality,100.0,False,0.0,Missing,0.0,fixed defect
918,58,asymptomatic,0.0,385.0,True,lv hypertrophy,0.0,Missing,0.0,Missing,0.0,Missing
919,62,atypical angina,120.0,254.0,False,lv hypertrophy,93.0,True,0.0,Missing,0.0,Missing

In [41]:

df_encoded1 = pd.get_dummies(x, columns=["cp","fbs","restecg","exang","slope","thal"],drop_first=True)
df_encoded1.head()

,age,trestbps,chol,thalch,oldpeak,ca,cp_atypical angina,cp_non-anginal,cp_typical angina,fbs_True,...,restecg_normal,restecg_st-t abnormality,exang_True,exang_Missing,slope_downsloping,slope_flat,slope_upsloping,thal_fixed defect,thal_normal,thal_reversable defect
0,63,145.0,233.0,150.0,2.3,0.0,False,False,True,True,...,False,False,False,False,True,False,False,True,False,False
1,67,160.0,286.0,108.0,1.5,3.0,False,False,False,False,...,False,False,True,False,False,True,False,False,True,False
2,67,120.0,229.0,129.0,2.6,2.0,False,False,False,False,...,False,False,True,False,False,True,False,False,False,True
3,37,130.0,250.0,187.0,3.5,0.0,False,True,False,False,...,True,False,False,False,True,False,False,False,True,False
4,41,130.0,204.0,172.0,1.4,0.0,True,False,False,False,...,False,False,False,False,False,False,True,False,True,False

In [42]:
df_encoded1.columns

Index(['age', 'trestbps', 'chol', 'thalch', 'oldpeak', 'ca',
       'cp_atypical angina', 'cp_non-anginal', 'cp_typical angina', 'fbs_True',
       'fbs_Missing', 'restecg_lv hypertrophy', 'restecg_normal',
       'restecg_st-t abnormality', 'exang_True', 'exang_Missing',
       'slope_downsloping', 'slope_flat', 'slope_upsloping',
       'thal_fixed defect', 'thal_normal', 'thal_reversable defect'],
      dtype='object')

In [43]:
df_encoded1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 920 entries, 0 to 919
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       920 non-null    int64
 1   trestbps                  920 non-null    float64
 2   chol                      920 non-null    float64
 3   thalch                    920 non-null    float64
 4   oldpeak                   920 non-null    float64
 5   ca                        920 non-null    float64
 6   cp_atypical angina        920 non-null    bool
 7   cp_non-anginal            920 non-null    bool
 8   cp_typical angina         920 non-null    bool
 9   fbs_True                  920 non-null    bool
 10  fbs_Missing               920 non-null    bool
 11  restecg_lv hypertrophy    920 non-null    bool
 12  restecg_normal            920 non-null    bool
 13  restecg_st-t abnormality  920 non-null    bool
 14  exang_True                920 non-null    bool
 15  exang_Missing             920 non-null    bool
 16  slope_downsloping         920 non-null    bool
 17  slope_flat                920 non-null    bool
 18  slope_upsloping           920 non-null    bool
 19  thal_fixed defect         920 non-null    bool
 20  thal_normal               920 non-null    bool
 21  thal_reversable defect    920 non-null    bool
dtypes: bool(16), float64(5), int64(1)
memory usage: 57.6 KB

In [44]:
from sklearn.preprocessing import StandardScaler
scalar=StandardScaler()
scalar.fit_transform(df_encoded1[["trestbps","chol","ca","thalch"]])
df_encoded1.head()

,age,trestbps,chol,thalch,oldpeak,ca,cp_atypical angina,cp_non-anginal,cp_typical angina,fbs_True,...,restecg_normal,restecg_st-t abnormality,exang_True,exang_Missing,slope_downsloping,slope_flat,slope_upsloping,thal_fixed defect,thal_normal,thal_reversable defect
0,63,145.0,233.0,150.0,2.3,0.0,False,False,True,True,...,False,False,False,False,True,False,False,True,False,False
1,67,160.0,286.0,108.0,1.5,3.0,False,False,False,False,...,False,False,True,False,False,True,False,False,True,False
2,67,120.0,229.0,129.0,2.6,2.0,False,False,False,False,...,False,False,True,False,False,True,False,False,False,True
3,37,130.0,250.0,187.0,3.5,0.0,False,True,False,False,...,True,False,False,False,True,False,False,False,True,False
4,41,130.0,204.0,172.0,1.4,0.0,True,False,False,False,...,False,False,False,False,False,False,True,False,True,False

In [45]:
from sklearn.decomposition import PCA
pca=PCA(n_components=2)
lol=pca.fit_transform(df_encoded1)
explained_variance = pca.explained_variance_ratio_
print(explained_variance)

[0.80820173 0.15293023]

In [46]:
cumulative_variance = explained_variance.cumsum()
optimal_components = (cumulative_variance > 0.95) +1
print(optimal_components)

[1 2]

In [47]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(
    df_encoded1, y, test_size=0.2, random_state=42
)

# Create and fit model
pops = LogisticRegression(max_iter=1000)  # max_iter added to avoid convergence warnings
pops.fit(X_train, y_train)

# Predict
y_predict = pops.predict(X_test)

# Classification report
print(accuracy_score(y_test, y_predict))

0.8315217391304348

C:\Users\NV\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [50]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier  # <-- fixed
from sklearn.metrics import classification_report, accuracy_score


# Train-test split
X_train, X_test, y_train, y_test = train_test_split(
    df_encoded1, y, test_size=0.2, random_state=42
)

# Create and fit model
pops = LogisticRegression(max_iter=1000)  # max_iter added to avoid convergence warnings
pops.fit(X_train, y_train)

# Predict
y_predict = pops.predict(X_test)

# Classification report
print(accuracy_score(y_test, y_predict))

0.8315217391304348

C:\Users\NV\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [54]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(
    df_encoded1, y, test_size=0.2, random_state=42
)

# Create and fit model
pops = RandomForestClassifier() 
pops.fit(X_train, y_train)

# Predict
y_predict = pops.predict(X_test)

# Classification report
print(accuracy_score(y_test, y_predict))

0.842391304347826

In [ ]:
clean_x=df_encoded1[['trestbps', 'oldpeak', 'chol', 'thalch', 'age']]
clean_x

In [ ]:
y